<div class="row">
    <div class="col">
        <app-events-item *ngFor="let event of events" [singleEvent]="event" 
        (selectedEvent)="onEventSelected(event)"></app-events-item>
    </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div>
      <div class="row">
        <div class="col-sm-12 form-group">
            <label for="name">Event</label>
            <input type="text" id="name" class="form-control"
            #eventInput>
        </div>
        <div class="col-sm-12 form-group">
            <label for="desc">Description</label>
            <input type="text" id="desc" class="form-control"
            #descInput>
        </div>
        <div class="col-sm-12 form-group">
            <label for="icon">Icon</label>
            <input type="text" id="icon" class="form-control"
            #iconInput>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <button class="btn btn-success" type="submit" (click)="onAddEvent()">Add new event</button>
        </div>
      </div>
    </div>
  </div>
</div>
